<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bluesky</param-value>
    </context-param>
    <!--    
    <context-param>
        <param-name>com.sun.faces.expressionFactory</param-name>
        <param-value>com.sun.el.ExpressionFactoryImpl</param-value>
    </context-param>
    -->
    <listener>
        <listener-class>
            com.sun.faces.config.ConfigureListener
        </listener-class>
    </listener>    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/browser.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>
            pbeIterations
        </param-name>
        <param-value>
            23456
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            pbeSalt
        </param-name>
        <param-value>
            imsalted
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            jdbcMySQL5DriverName
        </param-name>
        <param-value>
            com.mysql.jdbc.Driver
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            jdbcMySQL5ConnString
        </param-name>
        <param-value>
            jdbc:mysql://localhost:3306/frackhems3
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            jdbcSQLiteDriverName
        </param-name>
        <param-value>
            org.sqlite.JDBC
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            jdbcSQLiteConnString
        </param-name>
        <param-value>
            jdbc:sqlite:/home/databases/fracking/frackhem/frackhem_sqlite3.db
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            jdbcDriverName
        </param-name>
        <param-value>
            org.sqlite.JDBC
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            jdbcUID
        </param-name>
        <param-value>
            frackhemall
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            jdbcPWD
        </param-name>
        <param-value>
            ***[redacted]
        </param-value>
    </context-param>
</web-app>
